<!DOCTYPE html>
<head>
        <meta charset="UTF-8"/>
        <title>Log In | ADRad </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
        <link rel="icon" type="image/x-icon" href="/FYP/favicon.co">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;1,300&display=swap" rel="stylesheet">
        <script type="text/javascript" src="{{ url_for('static', filename='js/passhidden.js') }}"></script>

        <script>
            var errmsg = "{{ errormessage }}";
            if(!(errmsg==""))
            {
                alert(errmsg);
            }
        </script>

    </head>
<body>
    <div class="splitscreen">
        <div class="left">
            <section class="copy"> 
                
            </section>
        </div>
        <div class="right">
            <form action="{{ url_for('login') }}" method="POST">
                <section class="copy"> 
                    <h2>Welcome Radiologist!</h2>
                    <div class="login-container">
                        <p>Kindly log in into your account</p>
                        <p>Don't have an account? <a href="{{ url_for('signup') }}">
                        <strong>Sign Up</strong></a></p>
                    </div>
                </section>
                <div class="input-container username">
                    <label for="username">Username</label>
                    <input name="username" type="username" placeholder="Enter registered username" required>
                </div>
                <div class="input-container password">
                    <label for="pass">Password</label>
                    <input name="password" type="password" 
                    placeholder="Must be at least 8 characters" required>
                    <i class="far fa-eye-slash" id="font" onclick="togglePW()" aria-hidden="true"></i>
                </div>
                <button class="login-btn" type="submit">Log In</button>
            </form>
            
        </div>
    </div>
     
</body>
</html>