@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*
{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body
{
    background: #fff;
    display: flex;
}
.main--content
{
    position: relative;
    background:#ede4ee;
    width: 100%;
    padding: 1rem;
}
/**Header**/

.header--wrapper
{
    align-items: center;
    flex-wrap: wrap;
    background: #ede4ee;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}
.header--title
{
    color: #430947;
    text-align: center;
    font-size: 25px;
}
.breadcrumbs
{
    display: flex;
    
}
.breadcrumbs a
{
    font-weight: bold;
    color: #430947;
}

/**Patient search**/
.list--container
{
    position: relative;
    width: 100%;
    max-width: 100%;
    background: #ede4ee;
    border-radius: 10px;
}
.list--container .form
{
    padding: 2rem;
}
.form .column
{
    display: flex;   
    column-gap: 20px;
}
.column .input--box
{
    width: 55%;
    margin: 1rem;
}
.input--box input
{
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    color: #333;
    padding: 1rem;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 20px;
}
.column button
{
    height: 50px;
    width: 150px;
    cursor: pointer;
    font-size: 1rem;
    background-color: #430947;
    color: #fff;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

/**Patient list**/
/***table section***/
.tabular--wrapper
{
    background: #fff;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 1.5rem;
}
.tabular--wrapper table
{
    width: 100%;
    border-collapse: collapse;  
    border-radius: 10px;
}
.tabular--wrapper thead
{
    background: #430947;
    color: #fff;
}
.tabular--wrapper th
{
    padding: 15px;
    text-align: left;
}
.tabular--wrapper tbody
{
    background: #f2f2f2;
}
.tabular--wrapper td
{
    padding: 15px;
    font-size: 14px;
    color: #333;
}
.tabular--wrapper tr:nth-child(even)
{
    background: #fff;
}
.table--container button
{
    background: #430947;
    
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.pagination-list {
    list-style: none;
    padding: 0;
    display: flex;
}

.pagination-list li {
    margin-right: 5px;
}
/* Pagination */
.pagination-list li a {
    display: block;
    padding: 13px;
    border: 1px solid #430947;
    text-decoration: none;
    color: #430947;
    border-radius: 8px;
}

.pagination-list li.active a {
    background-color: #430947;
    color: #fff;
}

.pagination-list li a:hover {
    background-color: #430947;
    color: #ddd;
    transition: all 0.5s ease-in-out;

}

/* Button */
.button
{
    display: inline-block;
    font-size: 14px; 
    text-align: center;
    text-decoration: none;
    color: #430947; 
    border: 1px solid #430947;
    border-radius: 10px;
    padding:15px;
    cursor: pointer;
}
.button:hover
{
    background-color: #271928;
    color: #ede4ee;
    transition: all 0.3s ease-in-out;
}
